.newbook {
    height  : auto;
    position: relative;
    overflow: auto;

    .suggest {
        height             : 944px;
        line-height        : 20px;
        // opacity         : 0.8;
        background-color   : rgba(15, 38, 92, 0.8);
        color              : rgba(15, 38, 92, 1);
        font-size          : 14px;
        font-family        : Roboto;
        position           : relative;
        box-sizing         : border-box;
        overflow           : hidden;

        .campus {
            height     : 100%;
            width      : 100%;
            position   : absolute;
            object-fit : cover;
            opacity    : .5;
            z-index    : -1;
            user-select: none;
        }

        .sug-title {
            line-height: 40px;
            height     : 40px;
            color      : rgba(207, 166, 66, 100);
            font-size  : 28px;
            font-family: SourceHanSerif-regular;
            margin-top : 80px;
            display    : block;
            width      : 100%;
            text-align : center;
        }

        >div {
            display        : flex;
            flex-direction : row;
            justify-content: space-around;
            margin-top     : 75px;

            .item {
                display       : flex;
                flex-direction: column;
                align-items   : center;
                text-align    : center;

                img {
                    width        : 200px;
                    height       : 200px;
                    border-radius: 50%;
                }

                .name {
                    color      : rgba(207, 166, 66, 1);
                    font-size  : 20px;
                    font-family: SourceHanSerif-bold;
                    margin-top : 50px;
                    height     : 31px;
                    line-height: 29px;
                }

                .identity {
                    margin-top    : 14px;
                    font-size     : 18px;
                    color         : rgba(255, 255, 255, 1);
                    font-family   : SourceHanSerif-regular;
                    display       : flex;
                    flex-direction: column;
                    line-height   : 26px;
                    height        : 86px;
                }

                .quotes {
                    margin-top     : 40px;
                    display        : flex;
                    flex-direction : column;
                    justify-content: space-between;
                    font-size      : 16px;
                    color          : rgba(207, 166, 66, 1);
                    font-family    : SourceHanSansSC-regular;
                    height         : 174px;
                    width          : 450px;
                    line-height    : 24px;
                }
            }
        }
    }

    .resource {
        height          : 1070px;
        line-height     : 20px;
        background-color: rgba(255, 255, 255, 100);
        color           : rgba(16, 16, 16, 100);
        font-size       : 14px;
        text-align      : center;
        font-family     : Roboto;
        box-sizing      : border-box;
        padding         : 90px 0 0;

        .book {
            margin-left: 83px;

            display       : flex;
            flex-direction: row;

            .container {
                width           : 400px;
                height          : 375px;
                background-color: rgba(247, 247, 247, 1);

                img {
                    width      : 440px;
                    margin-left: -20px;
                }
            }

            .desc {
                margin-left    : 65px;
                width          : 849px;
                display        : flex;
                flex-direction : column;
                justify-content: space-around;

                .instruct {
                    height     : 116px;
                    color      : rgba(15, 38, 92, 1);
                    font-size  : 20px;
                    text-align : left;
                    font-family: SourceHanSerif-regular;
                    line-height: 29px;
                }

                button {
                    width           : 180px;
                    height          : 40px;
                    line-height     : 29px;
                    border-radius   : 5px;
                    background-color: rgba(207, 166, 66, 1);
                    color           : white;
                    font-size       : 20px;
                    text-align      : center;
                    font-family     : Roboto;
                    border          : 1px solid rgba(187, 187, 187, 1);
                }
            }
        }

        .intro {
            text-align    : center;
            display       : flex;
            flex-direction: column;
            margin-top    : 60px;

            span {
                color      : rgba(207, 166, 66, 100);
                font-size  : 28px;
                font-family: SourceHanSerif-bold;
                line-height: 40px;
            }
        }

        .videos {
            margin-top     : 60px;
            display        : flex;
            flex-direction : row;
            justify-content: space-around;

            .i-video {
                width: 400px;

                video {
                    height: 225px;
                    width : 400px;
                }

                .tips {
                    display       : flex;
                    flex-direction: column;
                    margin-top    : 40px;
                    color         : rgba(15, 38, 92, 1);
                    font-size     : 14px;
                    line-height   : 20px;
                    font-family   : SourceHanSansSC-regular;
                }
            }
        }
    }

    .remarks {
        height          : 1343px;
        background-color: rgba(15, 38, 92, 1);
        color           : rgba(207, 166, 66, 100);
        font-size       : 26px;
        text-align      : center;
        box-shadow      : 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
        font-family     : Roboto;
        box-sizing      : border-box;
        padding         : 124px 0 0;

        .re-title {
            height     : 40px;
            line-height: 40px;
            color      : rgba(207, 166, 66, 1);
            font-size  : 28px;
            text-align : center;
            font-family: SourceHanSerif-bold;
        }

        .brand {
            margin-top     : 90px;
            display        : flex;
            flex-direction : row;
            justify-content: space-between;
            align-items    : center;
            padding        : 0 180px;

            img {
                width : 12%;
                height: 12%;

                &:nth-child(1) {
                    width : 18%;
                    height: 18%;
                }
            }
        }

        .re-title2 {
            margin-top    : 100px;
            display       : block;
            // width      : 206px;
            height        : 36px;
            color         : rgba(207, 166, 66, 100);
            font-size     : 20px;
            font-family   : SourceHanSansSC-regular;
            line-height   : 29px;
        }

        .quote {
            margin-top: 30px;
            padding   : 0 180px;
            position  : relative;
            text-align: initial;

            .quote-start {
                fill       : rgba(207, 166, 66, 1);
                // margin-top: -20px;
            }

            .saying {
                font-size  : 16px;
                line-height: 24px;
                text-align : left;
                width: 969px;
                height: 187px;
                font-family: SourceHanSansSC-regular;
                margin-left: 60px;
                margin-top: -20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .quote-end {
                fill: rgba(207, 166, 66, 1);
                float: right;
            }
        }
    }

    .videos {
        margin-top: 36px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        video {
            margin-top: 50px;
            width: 400px;
            height: 225px;
        }
    }
}