.footer {
    width           : 100%;
    min-height      : 200px;
    height          : auto;
    line-height     : 29px;
    background-color: rgba(15, 38, 92, 1);
    color           : rgba(255, 255, 255, 1);
    font-family     : Roboto;
    border-top      : 0.5px solid rgba(187, 187, 187, 1);
    box-sizing      : border-box;
    overflow        : hidden;
    z-index         : 100;
    font-family     : SourceHanSansSC-regular;
    font-weight     : 600;
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    align-items     : center;
    justify-content : space-around;
    font-size       : 14px;
    padding: 0 10px;

    .logo {
        width      : 107px;
        height     : 107px;
        margin-left: 30px;
    }

    .line {
        width           : 1px;
        height          : 150px;
        background-color: rgba(187, 187, 187, 100);
        margin-left     : 10px;
    }

    .part {
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        margin         : 20px;
        height   : 130px;
        max-width: 280px;
        width    : 100%;

        span {
            width: fit-content;
        }
    }

    .part1{
        #part1-link {
            cursor: pointer;

            &:hover {
                color: rgb(207, 166, 66);
            }
        }
    }

    .part2 {
        span {
            cursor: pointer;

            &:hover {
                color: rgb(207, 166, 66);
            }
        }
    }

    .part3 {
        width          : 300px;
        display        : flex;
        justify-content: space-between;
        margin-right   : 60px;
        margin         : 10px;

        .fooContainer {
            width         : 130px;
            display       : flex;
            flex-direction: column;
            align-items   : center;
            line-height   : 20px;

            img {
                margin-bottom: 18px;
                width        : 80px;
                height       : 80px;
            }
        }

    }


    a {
        color          : inherit;
        text-decoration: none;
        width          : fit-content;
    }
}

@media screen and (max-width: 980px) {
    .footer {
        padding-bottom: 20px;
        .logo {
            width: 60px;
            height: 60px;
            margin-left: 5px;
        }
        .line {
            height: 80px;
            margin-left: 5px;
        }
        .part {
            margin-left: 10px;
            margin-right: 10px;
            height: 80px;
            max-width: 260px;
        }
        .part1 {
            margin: 20px 0;
        }
    }
}