#bg6{
    left: 0px;
    width: 1440px;
    height: 982px;
    line-height: 20px;
    background-color: rgba(250, 250, 250, 100);
    text-align: center;
    position: relative;
}

#bg6-title{
    left: 578px;
    top: 156px;
    width: 300px;
    height: 52px;
    color: rgba(15, 38, 92, 100);
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#bg6-img1{
    left: 180px;
    top: 250px;
    width: 1082px;
    height: 340px;
    position: absolute;
    z-index: 1;
}

#bg6-img2{
    left: 180px;
    top: 646px;
    width: 1082px;
    height: 200px;
    position: absolute;
    z-index: 1;
}

#bg6-btn{
    left: 620px;
    top: 890px;
    width: 200px;
    height: 40px;
    line-height: 29px;
    border-radius: 5px;
    background-color: rgba(207, 166, 66, 100);
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 100);
    position: absolute;
    cursor:pointer;
    z-index: 1;
    transition-duration: 0.4s;
}

#bg6-btn:hover{
    background-color: white;
    color           : rgba(207, 166, 66, 1);
    border          : 1px solid rgba(207, 166, 66, 1);
    transition-duration: 0.4s;
}

#bg7{
    left: 0px;
    width: 1440px;
    height: 1800px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 100);
    text-align: center;
    position: relative;
}

#bg7-title1{
    left: 648px;
    top: 50px;
    width: 144px;
    height: 52px;
    color: rgba(16, 16, 16, 100);
    font-size: 36px;
    text-align: left;
    font-family: SourceHanSerifSC-Regular;
    position: absolute;
    z-index: 1;
}

#program1{
    left: 116px;
    top: 122px;
    width: 360px;
    height: 720px;
    overflow: auto;
    line-height: 20px;
    border-radius: 5px;
    background-color: rgba(15, 38, 92, 100);
    text-align: center;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
}

#tit1{
    left: 122px;
    top: 30px;
    width: 120px;
    height: 29px;
    color: rgba(207, 166, 66, 100);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansCN-Bold;
    position: absolute;
    z-index: 1;
}

#br1{
    left: 105px;
    top: 70px;
    width: 150px;
    height: NaNpx;
    border: 1px solid rgba(207, 166, 66, 100);
    position: absolute;
    z-index: 1;
}

#info1{
    left: 40px;
    top: 90px;
    width: 280px;
    height: 245px;
    color: rgba(255, 255, 255, 100);
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#case1{
    left: 0px;
    top: 365px;
    width: 358px;
    height: 355px;
    overflow: auto;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 100);
    color: rgba(16, 16, 16, 100);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
    position: absolute;
    z-index: 1;
}

#case1-tit1{
    left: 119px;
    top: 20px;
    width: 120px;
    height: 29px;
    color: rgba(15, 38, 92, 100);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#case1-tit2{
    left: 97px;
    top: 56px;
    width: 164px;
    height: 26px;
    color: rgba(207, 166, 66, 100);
    font-size: 17px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#case1-text{
    left: 39px;
    top: 100px;
    width: 280px;
    height: 293px;
    color: rgba(62, 62, 62, 100);
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#program2{
    left: 540px;
    top: 122px;
    width: 360px;
    height: 720px;
    overflow: auto;
    line-height: 20px;
    border-radius: 5px;
    background-color: rgba(15, 38, 92, 100);
    text-align: center;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
}

#tit2{
    left: 67px;
    top: 30px;
    width: 222px;
    height: 29px;
    color: rgba(207, 166, 66, 100);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansCN-Bold;
    position: absolute;
    z-index: 1;
}

#br2{
    left: 103px;
    top: 71px;
    width: 150px;
    height: NaNpx;
    border: 1px solid rgba(207, 166, 66, 100);
    position: absolute;
    z-index: 1;
}

#info2{
    left: 38px;
    top: 90px;
    width: 280px;
    height: 245px;
    color: rgba(255, 255, 255, 100);
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#case2{
    left: 0px;
    top: 365px;
    width: 358px;
    height: 355px;
    overflow: auto;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 100);
    color: rgba(16, 16, 16, 100);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
    position: absolute;
    z-index: 1;
}

#case2-tit1{
    left: 119px;
    top: 20px;
    width: 120px;
    height: 29px;
    color: rgba(15, 38, 92, 100);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#case2-tit2{
    left: 97px;
    top: 56px;
    width: 164px;
    height: 26px;
    color: rgba(207, 166, 66, 100);
    font-size: 16px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#case2-text{
    left: 39px;
    top: 100px;
    width: 280px;
    height: 293px;
    color: rgba(62, 62, 62, 100);
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}


#program3{
    left: 960px;
    top: 122px;
    width: 360px;
    height: 720px;
    overflow: auto;
    line-height: 20px;
    border-radius: 5px;
    background-color: rgba(15, 38, 92, 100);
    text-align: center;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
}

#tit3{
    left: 140px;
    top: 30px;
    width: 80px;
    height: 29px;
    color: rgba(207, 166, 66, 100);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansCN-Bold;
    position: absolute;
    z-index: 1;
}

#br3{
    left: 103px;
    top: 70px;
    width: 150px;
    height: NaNpx;
    border: 1px solid rgba(207, 166, 66, 100);
    position: absolute;
    z-index: 1;
}

#info3{
    left: 38px;
    top: 90px;
    width: 280px;
    height: 245px;
    color: rgba(255, 255, 255, 100);
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#case3{
    left: 0px;
    top: 365px;
    width: 358px;
    height: 355px;
    overflow: auto;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 100);
    color: rgba(16, 16, 16, 100);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
    position: absolute;
    z-index: 1;
}

#case3-tit1{
    left: 119px;
    top: 20px;
    width: 120px;
    height: 29px;
    color: rgba(15, 38, 92, 100);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#case3-tit2{
    left: 97px;
    top: 56px;
    width: 164px;
    height: 26px;
    color: rgba(207, 166, 66, 100);
    font-size: 16px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#case3-text{
    left: 39px;
    top: 100px;
    width: 280px;
    height: 293px;
    color: rgba(62, 62, 62, 100);
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#bg7-title2{
    left: 660px;
    top: 950px;
    width: 120px;
    height: 29px;
    color: rgba(15, 38, 92, 100);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#server{
    left: 385px;
    top: 982px;
    width: 670px;
    height: 77px;
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-family: SourceHanSansSC-regular;
    position: absolute;
    z-index: 1;
}

#bg7-img{
    left: 90px;
    top: 1073px;
    width: 1252px;
    height: 651px;
    position: absolute;
    z-index: 1;
}