@font-face{
  font-family: 'SourceHanSansCN-Regular';
  src: url("./font/SourceHanSansCN-Regular.otf");
}

.cover {
  background-color: rgba(15, 38, 92, 100);
  line-height: 20px;
  font-size: 14px;
  font-family: Roboto;
  height: 400px;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.cover2 {
  background-color: rgba(15, 38, 92, 100);
  line-height: 20px;
  font-size: 14px;
  font-family: Roboto;
  height: 320px;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.bgimg {
  height: 400px;
  width: 1440px;
  opacity: 0.1;
  position: absolute;
}

.bgimg2 {
  height: 320px;
  width: 1440px;
  opacity: 0.1;
  position: absolute;
}

.title {
  position: absolute;
  bottom: 174px;
  right: 432px;
  font-family: SourceHanSansSC-regular;
  font-weight: bolder;
  color: #CFA642;
  font-size: 36px;
}

.content {
  width: 1440px;
  height: 320px;
  line-height: 20px;
  background-color: white;
  margin: 0 auto;
}

.contentimg {
  /*+40,68,135,217*/
  width: 400px;
  height: 240px;
  position: absolute;
}

.contenttitle {
  width: 500px;
  height: 29px;
  color: black;
  font-size: 20px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  position: absolute;
  font-weight: bolder;
}

.contentword {
  width: 669px;
  height: 51px;
  color: rgba(16, 16, 16, 100);
  font-size: 16px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  position: absolute;
}

.contentend {
  width: 150px;
  height: 20px;
  color: rgba(62, 62, 62, 100);
  font-size: 14px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  position: absolute;
}

.contentbutton {
  width: 160px;
  height: 40px;
  line-height: 20px;
  color: rgba(207, 166, 66, 100);
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  font-family: Roboto;
  border: 1px solid rgba(207, 166, 66, 100);
  position: absolute;
}

.wechat {
  width: 1440px;
  height: 1519px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 100);
  text-align: center;
}

.dash {
  width: 160px;
  border: 1px solid rgba(207, 166, 66, 100);
  position: absolute;
}

.emptyimg {
  width: 400px;
  height: 300px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 100);
  text-align: center;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(187, 187, 187, 100);
  position: absolute;
}

.wctitle {
  width: 400px;
  height: 29px;
  color: rgba(16, 16, 16, 100);
  font-size: 20px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  position: absolute;
  line-height: 25px;
}

.wccontent {
  width: 400px;
  height: 48px;
  font-size: 16px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  position: absolute;
  line-height: 25px;
}

.udwc {
  width: 250px;
  height: 24px;
  color: rgba(15, 38, 92, 100);
  font-size: 16px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  position: absolute;
}

.videopage {
  left: 0px;
  top: 1979px;
  width: 1440px;
  height: 833px;
  line-height: 20px;
  background-color: rgba(15, 38, 92, 100);
  text-align: center;
}

.video {
  width: 400px;
  height: 300px;
  position: absolute;
}

.redbook {
  left: 0px;
  top: 2812px;
  width: 1440px;
  height: 1284px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 100);
  text-align: center;
}

.board {
  left: 118px;
  top: 209px;
  width: 545px;
  height: 724px;
  border-radius: 5px;
  /*position: absolute;*/
}

.slick-dots {
  transform: translateY(-23px);
}

.slick-dots li.slick-active button:before {
  color: #CFA642 !important;
  opacity: .99 !important;
}

.slick-dots li button:before {
  color: #0F265C !important;
  opacity: .99 !important;
}

.boardtitle {
  width: 600px;
  height: 100px;
  line-height: 29px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 100);
  color: rgba(16, 16, 16, 100);
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  font-family: Roboto;
  border: 1px solid rgba(140, 140, 140, 100);
  position: absolute;
  cursor: pointer;
}

.boardtitleact {
  width: 600px;
  height: 100px;
  line-height: 29px;
  border-radius: 5px;
  background-color: #0F265C;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  font-family: Roboto;
  border: 1px solid rgba(140, 140, 140, 100);
  position: absolute;
  cursor: pointer;
}

.dltitle {
  width: 400px;
  height: 80px;
  line-height: 80px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(15, 38, 92, 100);
  text-align: center;
  color: white;
  position: absolute;
}

.dldiv {
  width: 401px;
  height: 210px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 100);
  color: rgba(16, 16, 16, 100);
  font-size: 14px;
  text-align: center;
  font-family: Roboto;
  border: 1px solid rgba(187, 187, 187, 100);
  position: absolute;
  overflow-y: scroll;
}

.dlend {
  left: 552px;
  top: 793px;
  width: 336px;
  height: 24px;
  color: rgba(207, 166, 66, 100);
  font-size: 16px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  position: absolute;
}

.qrend {
  width: 100px;
  height: 24px;
  color: rgba(15, 38, 92, 100);
  font-size: 16px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  position: absolute;
}

/* 滚动条整体 */
.dldiv::-webkit-scrollbar {
  height: 20px;
  width: 6px;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.dldiv::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
.dldiv::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #D2D2D8;
}

/* 滚动条轨道 */
.dldiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: white;
}

/* 滚动条两端按钮 */
.dldiv::-webkit-scrollbar-button {
}

.dlcontent {
  height: 45px;
  font-size: 14px;
  line-height: 77px;
  display: block;
  color: black;
}