.cover {
    background-color: rgba(15, 38, 92, 100);
    line-height: 20px;
    font-size: 14px;
    font-family: Roboto;
    height: 400px;
    width: 1440px;
    margin: 0 auto;
    position: relative;
  }
  
  .bgimg {
    height: 400px;
    width: 1440px;
    opacity: 0.1;
    position: absolute;
  }
  
  .title {
    position: absolute;
    top: 175px;
    left: 432px;
    bottom: 174px;
    right: 432px;
    font-family: "SimHei";
    font-weight: bolder;
    color: #CFA642;
    font-size: 36px;
  }
  
  .content1 {
    top: 476px;
    width: 1440px;
    height: 320px;
    line-height: 20px;
    background-color: white;
    margin: 0 auto;
  }
  
  .contentimg1 {
    left: 120px;
    top: 516px;/*+40,68,135,217*/
    width: 400px;
    height: 240px;
    position: absolute;
  }
  
  .contenttitle1 {
    left: 648px;
    top: 544px;
    width: 320px;
    height: 29px;
    color: black;
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-bold;
    position: absolute;
    font-weight: bolder;
  }
  
  .contentword1 {
    left: 648px;
    top: 611px;
    width: 669px;
    height: 51px;
    color: rgba(16, 16, 16, 100);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
  }
  
  .contentend1 {
    left: 648px;
    top: 693px;
    width: 126px;
    height: 20px;
    color: rgba(62, 62, 62, 100);
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
  }
  
  .contentbutton1 {
    left: 1156px;
    top: 693px;
    width: 160px;
    height: 40px;
    line-height: 20px;
    color: rgba(207, 166, 66, 100);
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    font-family: Roboto;
    border: 1px solid rgba(207, 166, 66, 100);
    position: absolute;
  }
  .content2 {
    top: 796px;/*+40,68,135,217*/
    width: 1440px;
    height: 320px;
    line-height: 20px;
    background-color: #0F265C;
    margin: 0 auto;
  }
  
  .contentimg2 {
    left: 120px;
    top: 836px;
    width: 400px;
    height: 240px;
    position: absolute;
  }
  
  .contenttitle2 {
    left: 648px;
    top: 864px;
    width: 320px;
    height: 29px;
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-bold;
    position: absolute;
    font-weight: bolder;
  }
  
  .contentword2 {
    left: 648px;
    top: 931px;
    width: 669px;
    height: 51px;
    color: white;
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
  }
  
  .contentend2 {
    left: 648px;
    top: 1013px;
    width: 126px;
    height: 20px;
    color: white;
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
  }
  
  .contentbutton2 {
    left: 1156px;
    top: 1013px;
    width: 160px;
    height: 40px;
    line-height: 20px;
    color: rgba(207, 166, 66, 100);
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    font-family: Roboto;
    border: 1px solid rgba(207, 166, 66, 100);
    position: absolute;
  }
  .content3 {
    top: 1116px;
    width: 1440px;/*+40,68,135,217*/
    height: 320px;
    line-height: 20px;
    background-color: white;
    margin: 0 auto;
  }
  
  .contentimg3 {
    left: 120px;
    top: 1156px;
    width: 400px;
    height: 240px;
    position: absolute;
  }
  
  .contenttitle3 {
    left: 648px;
    top: 1184px;
    width: 320px;
    height: 29px;
    color: black;
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-bold;
    position: absolute;
    font-weight: bolder;
  }
  
  .contentword3 {
    left: 648px;
    top: 1251px;
    width: 669px;
    height: 51px;
    color: rgba(16, 16, 16, 100);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
  }
  
  .contentend3 {
    left: 648px;
    top: 1333px;
    width: 126px;
    height: 20px;
    color: rgba(62, 62, 62, 100);
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
  }
  
  .contentbutton3 {
    left: 1156px;
    top: 1333px;
    width: 160px;
    height: 40px;
    line-height: 20px;
    color: rgba(207, 166, 66, 100);
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    font-family: Roboto;
    border: 1px solid rgba(207, 166, 66, 100);
    position: absolute;
  }
  .content4 {
    top: 1436px;
    width: 1440px;/*+40,68,135,217*/
    height: 320px;
    line-height: 20px;
    background-color: #0F265C;
    margin: 0 auto;
  }
  
  .contentimg4 {
    left: 120px;
    top: 1476px;
    width: 400px;
    height: 240px;
    position: absolute;
  }
  
  .contenttitle4 {
    left: 648px;
    top: 1504px;
    width: 320px;
    height: 29px;
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-bold;
    position: absolute;
    font-weight: bolder;
  }
  
  .contentword4 {
    left: 648px;
    top: 1571px;
    width: 669px;
    height: 51px;
    color: white;
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
  }
  
  .contentend4 {
    left: 648px;
    top: 1653px;
    width: 150px;
    height: 20px;
    color: white;
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    position: absolute;
  }
  
  .contentbutton4 {
    left: 1156px;
    top: 1653px;
    width: 160px;
    height: 40px;
    line-height: 20px;
    color: rgba(207, 166, 66, 100);
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    font-family: Roboto;
    border: 1px solid rgba(207, 166, 66, 100);
    position: absolute;
  }