.app-main {
    display       : flex;
    flex-direction: column;
    // padding-top: 80px;
    margin        : 0;
    // width         : 1440px;
    max-width: 1440px;
    width: 100%;
    position      : absolute;
    left          : 50%;
    transform     : translateX(-50%);

    .app-content {
        flex: 1 0 auto;
    }

    .footer {
        flex: 0 0 auto;
    }
}

@font-face {
    font-family: 'SourceHanSans-Bold';
    src        : url("./font/SourceHanSans-Bold.ttf");
}

@font-face {
    font-family: 'SourceHanSans-Regular';
    src        : url("./font/SourceHanSans-Regular.ttf");
}

@font-face {
    font-family: 'SourceHanSerif-Bold';
    src        : url("./font/SourceHanSerif-Bold.ttf");
}

@font-face {
    font-family: 'SourceHanSerif-Regular';
    src        : url("./font/SourceHanSerif-Regular.ttf");
}


/*
* {
    &::-webkit-scrollbar {
        width : 12px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background   : #c1c1c1;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius   : 10px;
    }
}
*/